
#marker-container{

			margin: 20vh auto;
			width:230px;
			outline: $darkBlue solid 3px;
			

			.modal-content{
				border:none;
				border-radius:0;


				.modal-body{
					overflow-wrap:break-word;

					a{
						color:$lightBlue;
					}

					button{
						background-color: $darkBlue;
						color:white;
						border:none;
					}

					.link{
					margin-bottom: 3em;
					}
				}
			}

			.venue-image{
				background-position:center;
				background-size: cover;
				background-repeat: no-repeat;
				height:150px;



				&.modal-header{
					border-radius:0;

				}

			}

		}	

@media only screen and (min-width : 60em) {

	#marker-container{

		.modal-content{

			.modal-body{

				button:hover{
					@include boxShadow;
				}
			}

		}
	}

}