.blurb {
		padding: $sectionPadding;

	.container{

		width: 100%;
		text-align: center;
		

		h1 {

			font-size: $displayFontSize;
			letter-spacing: $displayLetterSpacing;
			text-transform: $displayTexttransform;
			margin-bottom: 1em;
		}

		p {
			font-size: $bodyFontSize;
			line-height: $bodyLineHeight;
		}
	}
}


@media only screen and (min-width: 80em) {

	  .blurb .container{

			width: 50%;
			text-align: left;
			margin-bottom: 0.5em;
		}
}
