//Custom CSS
$primary: $ydaPink;

.staff-bio {

	h1{
	  font-style: italic;
	  text-transform: low
	}

	p:nth-child(2) {
	  font-style: italic;
		
	  color: $ydaGrey;

	  opacity: 0.5;
	  
	}
}

#removePadding{
	padding-bottom: 3em;
	padding-top: 0;
}