html{
	min-height: 100vh;
}

body{

	color:#BB377D;
	background-image: linear-gradient(#FBD3E9,#BB377D);
	background-repeat: no-repeat;
	font-family: 'Raleway', sans-serif;
	line-height: 2em;
	text-align: center;
	min-height:100vh;
	text-transform: uppercase;

	// box-sizing:border-box;

	img{
		display: block;
	}
}

.wrapper{

	width:90vw;
	// outline: red solid 1px;
	margin: 0 auto;

	.title{
		text-transform: uppercase;
		letter-spacing: 0.5em;
		// text-align: center;
		// font-family: 'Merriweather', serif;

	}

	.flexBox{
		margin: 0 auto;
		// outline: solid green 1px;
		width:90vw;
		display:flex;
		flex-wrap:wrap;
		justify-content: space-around;


		.flexItem{
			// width: 100%;
			margin: 1em;
			flex: 1 0 45%;
			// outline: blue solid 1px;

		}

		.flexItem2{
		width: 100%;
		margin: 1em;
		flex: 1 0 30%;
		min-height: 40vh;
		// outline: blue solid 1px;
		// background-image: url("../dog.jpg");
		background-size: cover;
		// background-color: pink;
		// height:200px;
		background-position: center;

			&:nth-child(1){
				background-image: url("../assets/biasbinding.jpg")
			}

			&:nth-child(2){
				background-image: url("../assets/darts.jpg")
			}

			&:nth-child(3){
				background-image: url("../assets/skirt.jpg")
			}

			&:nth-child(4){
				background-image: url("https://cdn.shopify.com/s/files/1/0289/4249/files/IMG_4671.JPG?v=1499982931")
			}

			&:nth-child(5){
				background-image: url("../assets/overalls.jpg")
			}

			&:nth-child(6){
				background-image: url("../assets/frenchseam.jpg")
			}

			a {
				display:block;
				height:100%;
				width:100%;
				overflow:hidden;
   				text-indent:100%;
    			white-space:nowrap;
			}

		}

		// .flexItem2:after{
  // 		content: '';
  // 		display: block;
  // 		padding-bottom: 100%;
// }

	}
	
	label{
		display:block;
		text-align: center;
	}

	input{
	color:#fffafa;
	box-sizing:border-box;
	width:100%;
	// position: relative;
	display: block;
	background: transparent;
	margin: 0 auto;
	border: 0;
	border-bottom: 2px solid #BB377D;
	outline: none;
	// padding: 0 .325em;
	// z-index: 1; 
	font-size: 1.5em;
	text-align: center;
	
	}


	/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

} 



}
